body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  padding-top: 80px;
}
.header {
  width: 100%;
  left: 0;
  top: 0;
  position: fixed;
  background-color: #0c4d9c;
  height: 80px;
}
.header a {
  color: white;
  font-size: 16px;
}
.logo {
  float: left;
  padding: 15px 0 0 60px;
  text-decoration: none;
}
nav {
  float: right;
}
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  padding-right: 80px;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
}

nav ul li a {
  display: block;
  padding: 0 10px;
  text-decoration: none;
}

nav ul li a:hover {
  background: #0b76a6;
}
img {
  max-width: 100%;
  height: auto;
}
.nosotros {
  display: flex;
  flex-direction: row;
  padding: 30px 60px 0 60px;
}
.nosotros-imagenes {
  display: flex;
  flex-direction: row;
}
.politica-calidad {
  margin: 20px 60px 20px 60px;
}
.politicas {
  margin: 20px 60px 20px 60px;
  display: flex;
  flex-direction: row;
}
.filosofia {
  display: flex;
  flex-direction: row;
}
.tarjeta {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
  border: 1px solid #0b76a6;
  box-shadow: 2px 2px 8px 4px #d3d3d3d1;
  border-radius: 15px;
}
.titulo {
  font-size: 24px;
  padding: 10px 10px 0 10px;
}
.cuerpo {
  padding: 10px;
}
